body {
  font-family: Arial, sans-serif;
  margin: 0px 150px; /* Increased the side margins */
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  color: rgb(68, 69, 71);
  line-height: 1.6;
}

header {
  padding: 50px;
  text-align: center; /* Center the content within the header */
}

p {
  font-size: 18px; /* Adjust the value to set the desired font size */
}

.header {
  display: flex;
  align-items: center;
  /* padding: 20px; Add more padding around the header */
  color: rgb(68, 69, 71);
  /* border-bottom: 2px solid #e0e0e0; */
}

.heading-text {
  flex-grow: 1;
}

.profile-picture {
  width: 260px;
  height: 260px;
  border-radius: 50%; /* Ensure the container is circular */
  background-color: #ffffff;
  margin-right: 50px; /* Increased margin for broader space */
  margin-left: 50px;  /* Increased margin for broader space */
  margin-top: 20px; /* Adjusted margin at the top */
  text-align: center;
  overflow: hidden; /* Hide any overflowing content */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  border-radius: 50%; /* Ensure the image itself is circular */
}


.heading-text {
  flex-grow: 1;
}

.three-column {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 18px;
  background-color: #e0e5df;
  margin: 10px;
}

h2 {
  text-align: center;
}

.column h3 {
  font-size: 1.1em;
  text-align: center;
}

.column p {
  font-size: 1.1em;
}

section {
  padding: 20px;
  /* text-align: center; */
}

footer {
  background-color: #e0e5df;
  /* padding: px; */
  text-align: center;
}
